<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <div class="w-50 mx-auto my-5 border rounded p-3">
            <h4 class="text-center">Stytch Password Flows Demo</h4>
            <p class="text-center">
                This demo app shows how to build password creation and reset
                flows using Stytch.
            </p>
            <div class="d-flex justify-content-center align-items-center gap-3">
                <a href="/login" class="d-block">Log in</a>
                <a href="/signup" class="d-block">Sign up</a>
            </div>
        </div>
    </body>
</html>