<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <style>
            .eye-icon {
                position: absolute;
                top: 60%;
                right: 0;
                cursor: pointer;
            }
        </style>
    </head>
    <body class="container">
        <form action="/login" method="post" class="w-50 mx-auto mt-4">
            <h4 class="text-center">Log In</h4>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="email"
                />
            </div>

            <div class="mb-3 position-relative">
                <label for="password" class="form-label">Password</label>
                <input
                    type="password"
                    name="password"
                    class="form-control"
                    id="password"
                />
                <svg
                    class="eye-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path
                        d="M12 15c-2.76 0-5-2.24-5-5s2.24-5 5-5s5 2.24 5 5s-2.24 5-5 5zm0-8a2 2 0 1 0 0 4a2 2 0 0 0 0-4zm0 3a1 1 0 1 1 0-2a1 1 0 0 1 0 2z"
                    />
                </svg>
            </div>

            <!-- Forgot password -->
            <a href="/password/reset" class="d-block text-center"
                >Forgot password?</a
            >

            <!-- Error -->
            <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>

            <button type="submit" class="btn btn-primary w-100 mt-3">
                Log in
            </button>
        </form>

        <script>
            document
                .querySelector(".eye-icon")
                .addEventListener("click", function () {
                    const passwordInput = document.getElementById("password");
                    passwordInput.type =
                        passwordInput.type === "password" ? "text" : "password";
                });
        </script>
    </body>
</html>