<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <form
            action="/password/verify-email"
            method="post"
            class="w-50 mx-auto mt-4"
        >
            <h4>Please provide your email address</h4>
            <p style="font-size: small;">
                We will send a signup link to your email address
            </p>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="email"
                />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>